services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    container_name: nginx-proxy
    ports:
      - "3460:80"
    volumes:
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy-net
    restart: unless-stopped

  site:
    build: .
    container_name: fenrir-site
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=fenrirclub.be,www.fenrirclub.be
    networks:
      - proxy-net
    restart: unless-stopped

  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    environment:
      PB_PORT: 3000
      PB_ADMIN_EMAIL: webmaster@fenrirclub.be
      PB_ADMIN_PASSWORD: Fenrir123456789!
      TZ: Europe/Berlin
    ports:
      - "3421:3000"
    volumes:
      - ./pb_data:/pb_data
    restart: unless-stopped

networks:
  proxy-net:

volumes:
  vhost:
  html: