---
import '../styles/global.css';
import Footer from '@/components/footer/footer.astro';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image" href="/icon.png" />
		<!-- <link rel="icon" href="/favicon.ico" /> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<Footer></Footer>
	</body>
</html>
