name: CI - Run Tests

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest # or a specific version like 1.1.0

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run Build
        run: bun run build

      - name: Run Test
        run: bun run test
